<!DOCTYPE html>
<html>
    <header>
      About Page
    </header>
{% extends "layout.html" %}
<body>
{% block mainContent %}
  <style>
  h1 {
      text-align: center;
      font-size: 50px;
  }
  body {
    text-align: center;
  }
  </style>
  <h1>Meet the Agile Aardvarks</h1>
    <p></p>
    <p></p>
    <p></p><img src="http://i.imgur.com/VeWZHSz.png" title="source: imgur.com" id="healthy wolf-headshot">
    <p></p><span id="healthy wolf-name">Ali</span>
    
    <p></p><img src="http://i.imgur.com/cn8jcWh.png" title="source: imgur.com" id="smoggy bison-headshot">
    <p></p><span id="smoggy bison-name">Ashlee</span>
    
    <p></p><img src="http://i.imgur.com/57t9Dv0.png" title="source: imgur.com" id="jolly koala-headshot">
    <p></p><span id="jolly koala-name">Eric</span>
    
    <p></p>
  
{% endblock %}
</body>
<footer></footer>
</html>