<!DOCTYPE html>
<html>
    <header>
      About Page
    </header>
{% extends "layout.html" %}
<body>
{% block mainContent %}
  <p>This is the about us page</p>

    <p></p><span id="healthy wolf-name">Ali</span>
    <img src="http://i.imgur.com/VeWZHSz.png" title="source: imgur.com" id="healthy wolf-headshot">
    
    <p></p><span id="smoggy bison-name">Ashlee</span>
    <img src="http://i.imgur.com/cn8jcWh.png" title="source: imgur.com" id="smoggy bison-headshot">
    
    <p></p><span id="jolly koala-name">Eric</span>
    <img src="http://i.imgur.com/57t9Dv0.png" title="source: imgur.com" id="jolly koala-headshot">
    
  
{% endblock %}
</body>
<footer></footer>
</html>