<!DOCTYPE html>
<html>
{% extends "layout.html" %}

{% block mainContent %}
<h2>It's your party, you can cry if you want to</h2>

  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

	<form id="create-event" method="POST">
    <label for="title">Event Title:</label>
    <input type="text" name="title">
    <p></p>
    
    <label for="location">Event Location:</label>
    <input type="text" name="location">
    <p></p>
    
    <label for="image">Event Image:</label>
    <input type="text" name="image">
    <p></p>
    
    <label for="year">Event Year:</label>
    <select name="year">
      {% for year in allowedDateInfo.year %}
        <option value="{{year}}">{{year}}</option>
      {% endfor %}
    </select>
    <p></p>
    <label for="month">Event Month:</label>
    <select name="month">
      {% for monthNumber, monthName in allowedDateInfo.months %}
        <option value="{{monthNumber}}">{{monthName}}</option>
      {% endfor %}
    </select>
    <p></p>
    
    <label for="day">Event Day:</label>
    <input type="text" name="day">
    <p></p>
    
    <label for="hour">Event Hour:</label>
    <select name="hour">
      {% for hours in allowedDateInfo.hours %}
        <option value="{{hours}}">{{hours}}</option>
      {% endfor %}
    </select>
    <p></p>
    
    <label for="minute">Event Minute:</label>
      <select name="minute">
      {% for minutes in allowedDateInfo.minutes %}
        <option value="{{minutes}}">{{minutes}}</option>
      {% endfor %}
      </select>
    <p></p>
    <input type="submit" name="submit" id="submit">
    <p></p>
    <!--title, location, image, year, month, day, hour, and minute-->
  </form>
{% endblock %}
<footer></footer>
</html>

