{% extends "layout.html" %}

<header>Event Detail Page</header>

{% block mainContent %}
  <style>
    h1 {
      font-size: 50px;
    }
  </style>
  <h1 id="title">{{event.title}}</h1>
  <p>Date: <span id="date">{{event.date|prettyDate}}</span></p>
  <p>Location: <span id="location">{{event.location}}</span></p>
  <p></p><img id="image" src={{event.image}}>
  <p>Attendees:</p>
  <ul id="attendees">
    {% for person in event.attending %}
    <li>{{person}}</li>
    {% endfor %}
  </ul>
  <p></p>
Come to my party, betches. RSVP below and you'll be added to the above guest list.
  <p></p>
    {% if errors %}
    <div>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form method="POST">
  <input type="text" name="email" id="email" placeholder="Your Email"/>
  <input type="submit" value="Submit"/>
  </form>
{% endblock %}