<!DOCTYPE html>
<html>
{% extends "layout.html" %}
<header></header>
{% block header %}
<head>
  <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 7px solid white;
        border-radius: 20px;
      }
    </style>
</head>
  <header>
    <h1>{{ title }}</h1>
  </header>
{% endblock %}

{% block mainContent %}
<body>
  <img id="logo" src="http://s5.postimg.org/q5kair3fb/Aardvark_Logo_small.png">
  <h2>
    {{tagline}}
  </h2>
  <p>Here is our list of events:</p>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
 
<!-- Load the Content Experiment JavaScript API client for the experiment -->
<script src="//www.google-analytics.com/cx/api.js?experiment=nGtvLlrCQIaqNohxFU_vEQ"></script>
 
<!-- Load the JQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 
<script>
// Define JavaScript for each page variation of this experiment.
var pageVariations = [
  function() {},  // Original: Do nothing. This will render the default HTML.
  function() {    // Variation 1: add RSVP text
    $( 'li.event' ).prepend( 'RSVP ' );
  }
];
 
// Wait for the DOM to load, then execute the view for the chosen variation.
$(document).ready(function () {
  // Ask Google Analytics which variation to show the user.
  // var chosenVariation = cxApi.chooseVariation();
  var chosenVariation = 0;
  if(Math.random()>0.5) {
    chosenVariation = 1; 
    console.log('woot');
  }
  cxApi.setChosenVariation(chosenVariation, 'nGtvLlrCQIaqNohxFU_vEQ');
  console.log(chosenVariation);
  
  // Execute the chosen view
  pageVariations[chosenVariation]();
});
  
</script>

  <p>
    Check out the <a href="/about">About Us</a> page to meet the Agile Aardvarks
    and the <a href="/events">Events</a> page to get your party on.
  </p>
  <p>Can't find the party for you?
    <a id="new" href="/events/new">Create a new event!</a>
  </p>
  <p>Feeling generous? <a href="/donate" class="donate">Donate!</p>
  </body>
{% endblock %}
<footer>
  <p>
  <a href="/">Home</a>    
  <a href="/about">About Us</a>    
  <a href="/events/new">Create a New Event</a>
  </p>
</footer>
</html>